*.iml
*.ipr
*.iws
*.msg
*/src/main/java/META-INF
.classpath
.DS_Store
.gradle
.idea
.pmd
.project
.settings
bin
build
build.log
derby.log
lib
logs
nohup.out
out
target
spring-integration-aws/src/test/resources/awscredentials.properties
*.orig
/spring-integration-java-dsl/hostkey.ser
